- var img = "img/";
- var js = "js/";
- var sp = "630";
- var tb = "960";
- var pc = "1200";
doctype
html(lang="ja")
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
        meta(name="format-detection" content="telephone=no")
        meta(name="keywords" content="")
        meta(name="description" content="ここに説明文を設定")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@twitteraccount")
        meta(property="og:site_name" content="サイト名")
        meta(property="og:title" content="サイトタイトル")
        meta(property="og:description" content="サイト説明文")
        meta(property="og:url" content="https://www.hogehoge.com")
        meta(property="og:image" content="https://www.hogehoge.com./hoge.jpg")
        meta(property="og:image:type" content="image/jpeg")
        meta(property="og:image:width" content="600")
        meta(property="og:image:height" content="400")
        meta(property="og:type" content="website")
        //- link(rel="canonical" hreflang="http://")
        //- link(rel="alternate" type="" title="" href="http://")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon")
        link(rel="apple-touch-icon" href="http://www.hoge.hoge/logo.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&display=swap")
        link(rel="stylesheet" href="https://use.typekit.net/uly6rzs.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanjp.min.css")
        link(rel="stylesheet" href="css/splitting.css")
        link(rel="stylesheet" href="css/about.css")
        title ABOUT | Find.web
    body.body
        .top-wrap
            header.header
                .header__container
                    h1.header__logo
                        img(src=`${img}icon-logo_white.svg` alt="Find.web")
            .main-visual
                .main-visual__container
                    .main-visual__wrapper
                        .main-visual__left
                            p.main-visual__catch(data-splitting).splitAnime00.fadeReady FIND
                            p.main-visual__catch(data-splitting).splitAnime00.fadeReady.main-visual__catch--m90cut A
                            p.main-visual__catch(data-splitting).splitAnime00.fadeReady TEACHER
                            p.main-visual__txt(data-splitting).splitAnimeSlow.fadeReady 先生の状況を確認する。
                            p.btn.btn--normal(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500" data-aos-delay="2200")
                                a(href="index.html") Find.webを使う
                        .main-visual__center
                            picture.main-visual__img
                                source(media=`(min-width:${tb}px)` srcset=`${img}img-device01.png`)
                                source(media=`(min-width:${sp}px)` srcset=`${img}img-device01_tb.png`)
                                source(media=`(min-width:1px)` srcset=`${img}img-device01_sp.png`)
                                img(src=`${img}img-device01.png` alt="")
                        .main-visual__right
                            h2.main-visual__ttl(data-splitting).splitAnimeToSlow.fadeReady Find.Web
                            p.main-visual__desc(data-splitting).splitAnimeToLate.fadeReady 学内ツール
                        p.main-visual__scroll SCROLL
        main.main
            .main__container
                section.about
                    .about__wrapper
                        .about__left
                            h2.about__ttl(data-splitting).splitAnime35 便利な学校生活を
                            p.about__logo(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500")
                                img(src=`${img}icon-logo-Blue.svg` alt="Find.web")
                            p.about__txt(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500" data-aos-delay="400") Find.webは先生の現在の状況がすぐ分かるに分かるサービスです。先生に聞きたいことがあるならまずFind.webで居場所を確認してみましょう。
                        .about__right
                            p.about__img
                                img(src=`${img}img-device02.png` alt="")
                section.merit
                    .merit__wrapper
                        h2.ttl--en-big(data-splitting).splitAnime35 To All Design Students.
                        p.sub-ttl--jp(data-splitting).splitAnime100 先生を探している、そこのあなたへ
                        .descBox(data-aos="fade-up" data-aos-duration="500" data-aos-delay="300")
                            p.descBox__sub-ttl Find.webのメリット
                            h3.descBox__ttl Find.web’s Merit
                            ul.content-list
                                li.content-item
                                    a(href="#merit01")
                                        .content-item__wrap
                                            p.content-item__icon
                                                img(src=`${img}icon-human01.svg` alt="")
                                            p.content-item__txt 簡単に先生の状況を確認できる
                                        p.content-item__num 01
                                li.content-item
                                    a(href="#merit02")
                                        .content-item__wrap
                                            p.content-item__icon
                                                img(src=`${img}icon-human02.svg` alt="")
                                            p.content-item__txt 時間割が簡単に見れる
                                        p.content-item__num 02
                                li.content-item
                                    a(href="#merit03")
                                        .content-item__wrap
                                            p.content-item__icon
                                                img(src=`${img}icon-profile-card.svg` alt="")
                                            p.content-item__txt プロフィールで先生のことがもっと分かる
                                        p.content-item__num 03
                    section.merit-item.merit-item01#merit01
                        .merit-item__wrapper
                            .merit-item__txtBox
                                h3.merit-item__ttl(data-splitting).splitAnime35 Find a teacher
                                p.merit-item__sub-ttl(data-splitting).splitAnime100 先生の状況が分かる
                                p.merit-item__txt--jp(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500") find.webを使えば簡単に先生の状況、どこで授業をしているかなどが分かります。
                                p.merit-item__txt--en(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500") use find.web, you can easily understand whether you are in class or where you are in class.
                                p.merit-item__num 01
                                p.btn.btn--normal(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500" data-aos-delay="700")
                                    a(href="index.html") Find.webを使う
                            .merit-item01__imageBox
                                p.merit-item01__img
                                    img(src=`${img}img-device03.png` alt="")
                    section.merit-item.merit-item02#merit02
                        .merit-item__wrapper
                            .merit-item02__imageBox
                                p.merit-item01__img
                                    img(src=`${img}img-device04.png` alt="")
                            .merit-item__txtBox
                                h3.merit-item__ttl(data-splitting).splitAnime35 Schedule access
                                p.merit-item__sub-ttl(data-splitting).splitAnime100 時間割に簡単アクセス
                                p.merit-item__txt--jp(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500") Find.webには時間割をウェブ上で確認できる機能を実装。素早く次の教室を確認することができます。
                                p.merit-item__txt--en(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500") Find.web has a function to check timetable on the web. You can quickly check the next classroom.
                                p.merit-item__num 02
                                p.btn.btn--solid(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500" data-aos-delay="700")
                                    a(href="index.html") Find.webを使う
                section.profile#merit03
                    p.profile__icon
                        img(src=`${img}icon-human-square.svg` alt="")
                    h2.ttl--en-big(data-splitting).splitAnime35 Teacher’s Profile
                    .descBox(data-aos="fade-up" data-aos-duration="500" data-aos-delay="300")
                        p.descBox__sub-ttl プロフィール
                        h3.descBox__ttl Check theacher’s Profile
                        section.profile-desc
                            .profile-desc__wrapper
                                h3.profile-desc__ttl 先生の紹介ページ
                                .profile-desc__wrap
                                    p.profile-desc__left-img
                                        img(src=`${img}img-teacher_comment.png` alt="")
                                    figure.profile-desc__right-img
                                        img(src=`${img}img-device05.png` alt="")
                            p.profile-desc__txt 先生のプロフィールを公開。<br>先生の得意分野を確認して、分からないことは得意な先生に聞いてみよう。
                            p.btn.btn--solid
                                a(href="index.html") Find.webを使う
        footer.footer
            .footer__container
                .footer__wrapper
                    .footer__left
                        p.footer__catch(data-splitting).splitAnime35 THANKS<br>FOR<br>WATCHING
                        p.footer__txt(data-splitting).splitAnime100 学校生活をさらに便利に
                        p.btn.btn--normal(data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="500" data-aos-delay="300")
                            a(href="index.html") Find.webを使う
                    .footer__right
                        p.footer__img
                            img(src=`${img}img-device06.png` alt="")
            p.footer-copy
                small &copy; Find.web 2019

        script(src="js/splitting.js")
        script(src="js/scroll-out.min.js")
        script(src="js/aos.js")
        script(src="js/about.js")